@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto:100');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
  height: 100%;
  margin-right: -1px;
  margin-left: 0px;
  margin-top: -10px;

  background: #ffdab4;
  background-image: -webkit-radial-gradient(top, circle cover, #ffdab4, #ffaa50 80%);
  background-image: -moz-radial-gradient(top, circle cover, #ffdab4, #ffaa50 80%);
  background-image: -o-radial-gradient(top, circle cover, #ffdab4, #ffaa50 80%);
  background-image: radial-gradient(top, circle cover, #ffdab4, #ffaa50 80%);
}

html, body, a, h1, h2, p, span, label {
  font-family: 'Roboto', 'Roboto Condensed', sans-serif;
}

p, span, label {
  font-size: 18px;
}
